*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.vijay{
    background-color: black;
    color: white;
    padding: px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}
.home{
    display: flex;
    gap: 20px;
}